<h1>Form input karyawan baru</h1>

<form action="#" method="post">
    <label>Nama Lengkap Karyawan</label>
    <input type="text">
    <br><br>

    <label>Jabatan</label>
    <input type="text">
    <br><br>

    <label>Tanggal Lahir</label>
    <input type="date">
    <br><br>

    <label>Departemen</label>
    <select>
        <option value="mg">mangga</option>
        <option value="jb">jambu</option>
        <option value="ap" selected>apel</option>
    </select>
    <br><br>
</form>