<h1>Form input karyawan baru</h1>

<form action="#" method="post">
    <label>Nama Lengkap Karyawan</label>
    <input type="text">
    <br><br>

    <label>Jabatan</label>
    <input type="text">
    <br><br>

    <label>Tanggal Lahir</label>
    <input type="date">
    <br><br>

    <label>Departemen</label>
    <select>
        <option value="" selected>--pilih departemen--</option>
        <% for( let i=0; i < departemen.length; i++ ) { %>
            <option value="<%= departemen[i].id %>"><%= departemen[i].nama %></option>
        <% } %>
    </select>
    <br><br>
    <button type="submit">simpan</button>
</form>